@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.font-jost {
  font-family: "Jost", sans-serif;
}

nav ul li ul.dropDown {
  display: none;
  background-color: #e9edf1;
  position: absolute;
  width: 200px;
  right: 0px;
  border-radius: 15px;
}

.swiper-button-prev {
  display: none;
  position: absolute;
  top: 0;
}